# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
# https://circleci.com/docs/2.0/browser-testing/#selenium
version: 2
jobs:
  ui-tests:
    docker:
      - image: circleci/openjdk:11-jdk-browsers
    working_directory: ~/repo
    environment:
      maven_compiler_source: 11
      maven_compiler_target: 11
      # get from git and get maven dependencies
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run: mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      # run tests!
      - run:
          name: Get chrome version
          command: google-chrome --version
      - run:
          name: Check CirceCi env
          command: echo $maven_compiler_source
      - run:
          name: Setting chmod for Chrome
          command: chmod 777 $driver_path
      - run:
          name: Running tests
          command: mvn test -Dmaven.compiler.source=$maven_compiler_source -Dmaven.compiler.target=$maven_compiler_source
      - run:
          name: Generate allure report
          command: mvn allure:report
          when: always
      - store_test_results:
          path: target/surefire-reports/junitreports
          when: always
      - store_artifacts:
          path: target/site/allure-maven-plugin/
workflows:
  version: 2
  commit:
    jobs:
      - ui-tests
#  periodical:
#    triggers:
#      - schedule:
#          cron: "1 4 * * *"
#          filters:
#            branches:
#              only:
#                - master
#    jobs:
#      - ui-tests